.boton_div{
    display: flex;
    flex-direction: row;
   
}

button{
    background-color: rgb(178, 162, 116);
    border: none;
    color:white;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
    margin-left: 20px;

}

button:hover{
    background-color: rgb(74, 59, 20);
}

p{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}