.cardProducto{
    background-color: rgb(234, 221, 194);
    border-color: rgb(2, 2, 32) rgb(86, 50, 9);
    border-width: 2px;
    border-style: solid;
width: 20rem;
height: 27rem;
padding: 1rem;
margin: 1rem;
display: flex;
flex-direction: column;
align-items: center;


}

.cardProducto:hover {
    transform: scale(1.1);
background-color:rgb(246, 225, 174) ;

  
    border-radius: 30px;
    transition: all 2s;
}

.cardProducto h2 {
color: rgb(5, 5, 5);
font-size: 1.3rem;
}

.cardProducto h3 {
    color: rgb(5, 5, 5);
    font-size: 1rem;
    }

    .cardProducto p {
        color: rgb(5, 5, 5);
        font-size: 1rem;
        }

.imgProducto{
    width: 150px;
object-fit: contain;
}



.btnProducto{
    background-color: rgb(15, 16, 17);
color: rgb(143, 28, 28);
font-size: 1.2rem;
width: 8rem;
border-radius: 10px;
border:none;
}