.Index{
    display: flex;
    flex-direction: row;
    
}

.Titulo{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(14, 13, 13);
   
}

.Titulo:hover{

    color: rgb(126, 96, 51);
}

.Titulo-descripcion{
    text-align: center;
    justify-content: center;
    width: 600px;
    margin: 120px;
}

.Titulo-descripcion:hover{

    color: rgb(126, 96, 51);
}

.Titulo-imagen{
background-image:url("https://i.pinimg.com/564x/90/72/cb/9072cb67e8fef2ae970f90d426bff79c.jpg");
background-repeat:no-repeat;
height: 700px;
width: 500px;

}

.Titulo-productos{
    background-color: rgb(25, 24, 23);
    color: rgb(251, 250, 250);
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin: 0px;
    padding: 30px;
    text-align: center;
}

.Titulo-productos:hover{
color: rgb(217, 178, 218);
}

