.contenedorProductos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
background-image: url("https://img.freepik.com/foto-gratis/textura-pared-grunge_1194-8832.jpg");
background-repeat: repeat;
background-size: contain;
padding: 120px;
}




h3{
    
    color: rgb(25, 25, 24);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}