.contenedorProductos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
background-image: url("https://e0.pxfuel.com/wallpapers/634/664/desktop-wallpaper-ancient-rome-floor-mosaic-roman-mosaic.jpg");

}




h3{
    
    color: rgb(25, 25, 24);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}